@use "variables";
@use "mixins";
//TODO feedback 对button的设计思路很不错，对@extend和@include的使用理解的很到位
// TODO feedback 还使用了%，很不错
%btn {
  border-radius: variables.$border-radius-base * 3;
  border: 1px solid transparent;
  padding: variables.$font-size-base * 0.2 variables.$font-size-base * 1.5;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btn-primary {
  @extend %btn;
  @include mixins.button-variant(variables.$primary-color, variables.$white);
}

.btn-outline-primary {
  @extend %btn;
  @include mixins.button-outline-variant(
    variables.$body-bg,
    variables.$primary-color
  );
}
