@use "variables";

.header {
  border-bottom: 1px solid variables.$border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: variables.$font-size-base variables.$font-size-base * 2;
  height: 10vh;

  ul {
    display: flex;
    > * {
      padding-left: variables.$font-size-base * 0.5;
    }
  }
}
