@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin theme($background, $on-background) {
  background-color: $background;
  color: $on-background;
}

@mixin button-variant($background, $on-background) {
  background-color: $background;
  border-color: $background;
  color: $on-background;
}

@mixin button-outline-variant($background, $border) {
  background-color: $background;
  border-color: $border;
  color: $border;
}
